extends layout

block content
  h1= title
  div#mistakes(style:{display:block;}) 
  form(id='horseForm', action="/resource/resource/horses", method="POST")
    div.form-group
        label.costumeAttr(for='horsename') horse name
        input#horsename(type='text', name='horsename')
    div.form-group
        label.costumeAttr(for='habitat') horse habitat
        input#habitat(type='text', name='habitat')
    div.form-group
        label.costumeAttr(for='price') horse price
        input#price(type='number', name='price')
    input(type="submit")

  script.
    document.forms['horseForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        document.getElementById("mistakes").style.display="block"
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
         if(body.name){
          document.getElementById("mistakes").innerHTML=`${body.name}  \n ${body.message}\n`;
          alert("Save Failed")
        }else{
           alert("Save succeded")
        }
        // TODO handle body
      }).catch((mistakes) => {
        // TODO handle error
        alert("Save failed " + mistakes )
      });
    });
