extends layout

block content
  h1= title
  if(toshow == null)
    h2 no instance found for updating 
  else
    - let horseid = toShow._id
    - let horsename = toShow.horsename
    - let price = toShow.price
    - let habitat = toShow.habitat
    
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{horseid}
    - let actionid = "/resource/resource/horse/" + horseid
    form(id='horseForm', action= actionid, method="PUT")
      div.form-group
          label.costumeAttr(for='horsename') horse name
          input#horsename(type='text', name='horsename', value= horsename )
      div.form-group
          label.costumeAttr(for='habitat') horse habitat
          input#habitat(type='text', name='habitat', value= habitat )
      div.form-group
          label.costumeAttr(for='price') horse price
          input#price(type='number', name='price', value= price )
      input(type="submit")

    script.
      document.forms['horseForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeded")
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error )
        });
      });
